<mat-spinner
  class="mx-auto my-auto"
  color="warn"
  *ngIf="isLoading"
></mat-spinner>
<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div class="col-md-9">
      <div class="post-header">
        <h1 class="post-title">{{ post?.title }}</h1>
        <div class="post-author">
          <img class="author-img" [src]="author.imagePath" alt="" />
          <p class="author-text">
            {{ author?.firstName + " " + author?.lastName }}
          </p>
          <li class="author-text">
            {{ post.category }}
          </li>
          <li class="author-text">
            {{ post.updatedAt | date: "MMMM dd,yyyy" }}
          </li>
        </div>
        <img
          class="post-image"
          [src]="post?.imagePath || post?.ImagePath"
          alt="post-image"
        />
      </div>
      <div class="post-content" [innerHTML]="post?.content"></div>

      <hr />

      <span class="text-alt m-0"> share this: </span>
      <share-buttons
        theme="circles-dark"
        [include]="['copy', 'facebook', 'messenger', 'twitter', 'whatsapp']"
        [showIcon]="true"
        [showText]="false"
        [url]="'https://localhost\:4200/blog/post/' + postId"
        [description]="post.content"
        [twitterAccount]="author.firstName + ' ' + author.lastName"
        [image]="'https://localhost\:4200/image/' + post.imagePath"
        (opened)="share($event)"
      >
      </share-buttons>

      <div class="author-about">
        <div class="img-container">
          <img class="author-img" [src]="author.imagePath" alt="" />
        </div>
        <div class="author-text">
          <h3>{{ author.firstName + " " + author.lastName }}</h3>
          <p>
            {{ author.bio }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="th-border">
        <h3>HealthPod</h3>
        <p>
          Hello, We’re content writer who is fascinated by content fashion,
          celebrity and lifestyle. We helps clients bring the right content to
          the right people.
        </p>
      </div>
    </div>
  </div>
</div>
