<div class="container my-5">
  <h1 class="text-center" *ngIf="posts.length == 0">Post not Found</h1>
  <div class="col-md-9">
    <div class="th-wrapper" *ngIf="posts.length != 0">
      <div class="th-card-container" *ngFor="let post of posts">
        <div class="img-container">
          <img
            [src]="post.imagePath || post.ImagePath"
            [alt]="post.title"
            width="350"
            height="250"
          />
        </div>

        <div class="th-card-text">
          <div class="th-card-info">
            <span>{{ post.category }}</span>
            <span>{{ post.updatedAt | date }}</span>
          </div>
          <div class="th-card-title">
            <h3>
              <a [routerLink]="'/blog/post/' + post?._id">
                {{ post.title }}
              </a>
            </h3>
          </div>
          <div class="th-card-discription">
            <span [innerHTML]="post.content"></span>
          </div>
          <div class="th-card-actions">
            <a class="btn" [routerLink]="'/blog/post/' + post._id">
              <fa-icon [icon]="faEllipsis"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
