.image{
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-error{
  margin: 2px 0px;

}
h1{
  margin-bottom: 10px !important;
}

.form-container{
  background-color: #fff;
  padding: 3rem 2rem;
  border-radius: 20px;
}
