<!-- <mat-toolbar>
    <span>Healthpod Blog</span>
    <div class="space"></div>
    <div class="links">
      <a routerLink="/blog/posts" [routerLinkActive]="'active'">BLOG </a>
      <a routerLink="/blog/Doctors" [routerLinkActive]="'active'">DOCTORS</a>
    </div>
    <!-- <div class="space"></div> -->
<!-- <div>
    <div width="200px">
      <button mat-icon-button><mat-icon>search</mat-icon></button>
      <input type="text" />
    </div>
  </div>
  </mat-toolbar> -->
<nav class="navbar navbar-expand-lg  bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"> Healthpod Blog </a>

    <ul class="navbar-nav me-auto ms-3">
      <li>
        <a class="nav-link active">Home</a>
      </li>
      <li>
        <a class="nav-link">General surgery</a>
      </li>
      <li>
        <a class="nav-link">Mental Health</a>
      </li>
    </ul>
  </div>
</nav>
