.navbar {
  padding: 40px 0;
}
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}

ul li a {
  font-size: 15px;
  padding: 10px 20px;
  font-weight: 400;
}

ul li a.active{
  background: linear-gradient(to right, #fe4f70 0%, #ffa387 100%);
  border-radius: 25px;
  color: #fff;

}

