.gradient-purple-love {
  background-image: linear-gradient(45deg, #7441db, #c89cff);
  background-repeat: repeat-x;
  color: #fff;
}

.card {
  margin: 15px 0;
  box-shadow: -8px 8px 14px 0 rgb(25 42 70 / 11%);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.35rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

.gradient-king-yna {
  background-image: linear-gradient(45deg, #7441db, #f9877c);
  background-repeat: repeat-x;
  color: #fff;
}
