<mat-spinner
  class="mx-auto my-auto"
  color="warn"
  *ngIf="isLoading"
></mat-spinner>
<div class="container-fluid" *ngIf="!isLoading">
  <section class="cards-container">
    <div *ngFor="let post of posts" class="card-container">
      <img [src]="post.imagePath || post.ImagePath" height="250"/>
      <div class="content">
        <div class="card-header-container">
          <p>Posted On {{ post.date | date }}</p>
          <h3>{{ post.title.toUpperCase() }}</h3>
        </div>
        <div class="description">
          <span [innerHTML]="post.content"></span>
        </div>
        <a class="btn" [routerLink]="'/blog/post/' + post._id">
          <!-- <mat-icon>read_more</mat-icon> -->
          <span style="font-size: small">
          <i class="fa-brands fa-readme"></i>

            Read More</span>
        </a>
      </div>
    </div>
  </section>
  <div
    class="container-fluid text-center my-2"
    *ngIf="postCount !== posts.length"
  >
    <button class="btn btn-success" (click)="onChangePage()">More Posts</button>
  </div>
</div>
