<div class="container my-5">
  <div class="row">
    <div class="col-md-8 mb-1">
      <div class="th-card">
        <img
          [src]="popularPosts[0]?.ImagePath || popularPosts[0]?.imagePath"
          [alt]="popularPosts[0]?.title"
          class="img-fluid"
        />
        <div class="th-card-text">
          <h4 class="th-card-category">{{ popularPosts[0]?.category }}</h4>
          <br />
          <h3 class="th-card-title">
            <a [routerLink]="'/blog/post/' + popularPosts[0]?._id">
              {{ popularPosts[0]?.title }}
            </a>
          </h3>
          <br />
          <h5 class="th-card-info">{{ popularPosts[0]?.updatedAt | date }}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-30px th-border h-100">
        <div class="row mb-5">
          <div
            class="btn btn-inactive"
            (click)="tabMode = 1"
            [ngClass]="{ 'btn-gradient': tabMode === 1 }"
          >
            popular
          </div>
          <div
            class="btn btn-inactive"
            (click)="tabMode = 2"
            [ngClass]="{ 'btn-gradient': tabMode === 2 }"
          >
            recent
          </div>
        </div>
        <div class="popular-posts" *ngIf="tabMode == 1">
          <div
            class="th-list-tile"
            *ngFor="let post of popularPosts | slice: 1:popularPosts.length"
          >
            <img
              width="60"
              height="60"
              [src]="post.imagePath || post.ImagePath"
              [alt]="post.title"
            />
            <div class="th-list-tile-text">
              <h4 class="th-list-tile-title">
                <a [routerLink]="'/blog/post/' + post?._id">
                  {{ post.title }}
                </a>
              </h4>
              <h5 class="date">{{ post.updatedAt | date }}</h5>
            </div>
          </div>
        </div>

        <div class="recent-posts" *ngIf="tabMode == 2">
          <div class="th-list-tile" *ngFor="let post of recentPosts">
            <img
              width="60"
              height="60"
              [src]="post.imagePath || post.ImagePath"
              [alt]="post.title"
            />
            <div class="th-list-tile-text">
              <h4 class="th-list-tile-title">
                <a [routerLink]="'/blog/post/' + post?._id">
                  {{ post.title }}
                </a>
              </h4>
              <h5 class="date">{{ post.updatedAt | date }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-spinner
  class="mx-auto my-auto"
  color="warn"
  *ngIf="isLoading"
></mat-spinner>

<div class="container" *ngIf="!isLoading">
  <!-- <section class="cards-container">
    <div *ngFor="let post of posts" class="card-container">
      <img [src]="post.imagePath || post.ImagePath" height="250"/>
      <div class="content">
        <div class="card-header-container">
          <p>Posted On {{ post.updatedAt | date }}</p>
          <h3>{{ post.title.toUpperCase() }}</h3>
        </div>
        <div class="description">
          <span [innerHTML]="post.content"></span>
        </div>
        <a class="btn" [routerLink]="'/blog/post/' + post._id">
          <span style="font-size: small">
          <i class="fa-brands fa-readme"></i>

            Read More</span>
        </a>
      </div>
    </div>
  </section> -->
  <h3 class="th-h3">Latest Posts</h3>
  <img class="line" src="assets/line.svg" alt="line" />
  <div class="row">
    <div class="col-md-9">
      <div class="th-wrapper">
        <div class="th-card-container" *ngFor="let post of posts">
          <div class="img-container">
            <img
              [src]="post.imagePath || post.ImagePath"
              [alt]="post.title"
              width="350"
              height="250"
            />
          </div>

          <div class="th-card-text">
            <div class="th-card-info">
              <span>{{ post.category }}</span>
              <span>{{ post.updatedAt | date }}</span>
            </div>
            <div class="th-card-title">
              <a [routerLink]="'/blog/post/' + post?._id">
                <h3>{{ post.title }}</h3>
              </a>
            </div>
            <div class="th-card-discription">
              <span [innerHTML]="post.content"></span>
            </div>
            <div class="th-card-actions">
              <a class="btn" [routerLink]="'/blog/post/' + post._id">
                <fa-icon [icon]="faEllipsis"></fa-icon>
              </a>
            </div>
          </div>
        </div>

        <button
          class="btn th-btn"
          *ngIf="postCount !== posts.length"
          (click)="onChangePage()"
        >
          <mat-spinner
            [diameter]="20"
            [color]="'warn'"
            *ngIf="isLoadingMore"
          ></mat-spinner>
          More Posts
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div
  class="container-fluid text-center my-2"
  *ngIf="postCount !== posts.length"
>
  <button class="btn btn-success" (click)="onChangePage()">More Posts</button>
</div> -->
